header {
  z-index: 50;
  & nav {
    z-index: 50;
    & ul {
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      font-family: "futurarennerregular";
      z-index: 50;
      & li {
        list-style-type: none;
        display: inline-block;
        z-index: 50;
        & a {
          text-decoration: none;
          color: white;
          z-index: 50;
        }
      }
    }
  }
}
.main-title {
  z-index: 100;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 45vh;
  font-family: 'saira_condensedlight';
  & h1 {
    font-size: 6em;
  }
  & h3 {
    font-size: 1.5em;
  }
}
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 1;
}
.header-device {
  display: none;
}
@media all and (max-width: 650px) {
  .header-device {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    & i {
      font-size: 2.5em;
      color: white;
      padding: 10px;
    }
  }
  header {
    display: none;
  }
  .main-title {

    margin-top: 35vh;

    & h1 {
      font-size: 5em;
    }
    & h3 {
      font-size: 1.2em;
    }
  }
}




/* Font Family
================================================== */

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');


/* Global Styles
================================================== */



*,::before,::after {
box-sizing:border-box;
}

* {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}


/* Setup
================================================== */

.container { position:relative; margin:0 auto; max-width:800px; width:100%; }
.column { width:inherit; }


/* Typography / Links
================================================== */

p { color:#fff; display:block; font-size:.9rem; font-weight:400; margin:0 0 2px; }

a,a:visited { color:#8cc3e6; outline:0; text-decoration:underline; }
a:hover,a:focus { color:#bbdef5; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:2rem !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }
.hidden { display:none; }

.no-support {
margin:2rem auto;
text-align:center;
width:90%;
}


/* Audio Player Styles
================================================== */

audio {
display:none;
}

#audiowrap,
#plwrap {
margin:0 auto;
}

#tracks {
font-size:0;
position:relative;
text-align:center;
}

#nowPlay {
display:block;
font-size:0;
}

#nowPlay span {
display:inline-block;
font-size:1.05rem;
vertical-align:top;
}

#nowPlay span#npAction {
padding:21px;
width:30%;
}

#nowPlay span#npTitle {
padding:21px;
text-align:right;
width:70%;
}

#plList li {
cursor:pointer;
display:block;
margin:0;
padding:21px 0;
}

#plList li:hover {
background-color:rgba(0,0,0,.1);
}

.plItem {
position:relative;
}

.plTitle {
left:50px;
overflow:hidden;
position:absolute;
right:65px;
text-overflow:ellipsis;
top:0;
white-space:nowrap;
}

.plNum {
padding-left:21px;
width:25px;
}

.plLength {
padding-left:21px;
position:absolute;
right:21px;
top:0;
}

.plSel,
.plSel:hover {
background-color:rgba(0,0,0,.1);
color:#fff;
cursor:default !important;
}

#tracks a {
border-radius:3px;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:2.3rem;
height:35px;
line-height:.175;
margin:0 5px 30px;
padding:10px 15px;
text-decoration:none;
transition:background .3s ease;
}

#tracks a:last-child {
margin-left:0;
}

#tracks a:hover,
#tracks a:active {
background-color:rgba(0,0,0,.1);
color:#fff;
}

#tracks a::-moz-focus-inner {
border:0;
padding:0;
}


/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
background-color:transparent;
border:none;
color:#fff;
padding:20px 20px 20px 13px;
width:100%;
}

a.plyr__controls__item.plyr__control:hover,
.plyr--audio .plyr__controls button:hover,
.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr__play-large {
background-color:rgba(0,0,0,.1);
}

.plyr__progress--played,
.plyr__volume--display {
color:rgba(0,0,0,.1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
background:rgba(0,0,0,.1);
}

.plyr--audio .plyr__progress--buffer {
color:rgba(0,0,0,.1);
}


/* Media Queries
================================================== */

@media only screen and (max-width:600px) {
    #nowPlay span#npAction { display:none; }
    #nowPlay span#npTitle { display:block; text-align:center; width:100%; }
}








@font-face {
  font-family: 'futurarennerregular';
  src: url('font/futurarenner-regular-webfont.eot');
  src: url('font/futurarenner-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/futurarenner-regular-webfont.woff2') format('woff2'),
       url('font/futurarenner-regular-webfont.woff') format('woff'),
       url('font/futurarenner-regular-webfont.ttf') format('truetype'),
       url('font/futurarenner-regular-webfont.svg#futurarennerregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'saira_condensedlight';
  src: url('font/sairacondensed-light-webfont.eot');
  src: url('font/sairacondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/sairacondensed-light-webfont.woff2') format('woff2'),
       url('font/sairacondensed-light-webfont.woff') format('woff'),
       url('font/sairacondensed-light-webfont.ttf') format('truetype'),
       url('font/sairacondensed-light-webfont.svg#saira_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;

}