header {
  z-index: 50;

  & nav {
    z-index: 50;

    & ul {
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      font-family: "futurarennerregular";
      z-index: 50;

      & li {
        list-style-type: none;
        display: inline-block;
        z-index: 50;

        & a {
          text-decoration: none;
          color: white;
          z-index: 50;
        }
      }
    }
  }
}

.main-title {
  z-index: 100;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 45vh;
  font-family: 'saira_condensedlight';

  & h1 {
    font-size: 6em;
  }

  & h3 {
    font-size: 1.5em;
  }
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.header-device {
  display: none;
}
.list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media all and (max-width: 650px) {
  .header-device {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    & a {
      text-decoration: none;
      & i {
        font-size: 1.5em;
        color: white;
        padding-bottom: -50px;
      }
      & h6 {
        margin-top: 8px;
        font-family: 'saira_condensedlight';
      }
    }
  }
  .header-device-music {
    background-color: rgb(39, 39, 39);
    z-index: 1000;
    padding-top: 10px;
  }
  header {
    display: none;
  }

  .main-title {

    margin-top: 30vh;

    & h1 {
      font-size: 4em;
    }

    & h3 {
      font-size: 1.2em;
    }
  }
}

.body-music {
  background-color: rgb(39, 39, 39);
  font-family: 'saira_condensedlight';
}






@font-face {
  font-family: 'futurarennerregular';
  src: url('font/futurarenner-regular-webfont.eot');
  src: url('font/futurarenner-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/futurarenner-regular-webfont.woff2') format('woff2'),
    url('font/futurarenner-regular-webfont.woff') format('woff'),
    url('font/futurarenner-regular-webfont.ttf') format('truetype'),
    url('font/futurarenner-regular-webfont.svg#futurarennerregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'saira_condensedlight';
  src: url('font/sairacondensed-light-webfont.eot');
  src: url('font/sairacondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/sairacondensed-light-webfont.woff2') format('woff2'),
    url('font/sairacondensed-light-webfont.woff') format('woff'),
    url('font/sairacondensed-light-webfont.ttf') format('truetype'),
    url('font/sairacondensed-light-webfont.svg#saira_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;

}